*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #f0f3bd;
}


/*------- Menü ------*/

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    z-index: 99;
    transition: all .3s;
}

.sticky{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: all .2s;
}

.logo:hover{
    transform: scale(1.1);
    transition: all .2s;
}

.logo_span{
    color: #ef233c;
}

.logo img{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.toggle{
    display: none;
}

.menu_list ul{
    display: flex;
}

.menu_list .nav_links{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 0 5px;
}

.menu_list .nav_links:hover{
    transition: all 0.1s;
    box-shadow: #fff 1px 1px 5px;
}

.header_box{
    height: 97%;
    width: 100%;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
}

.header_box .header_txt div{
    background-color: rgba(255, 255, 255, .4);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
}

.header_btn{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #ef233c;
    border-radius: 10px;
    transition: all .3s;
}

.header_btn:hover{
    background-color: #d8182f;
    transition: all .3s;
}

.header_btn i{
    padding-left: 10px;
    transition: all .4s;
}

.go{
    margin-left: 20px;
    transition: all .4s;
}

.header_box h1{
    font-size: 4.5rem;
    color: #fff;
    font-style: oblique;
    text-align: center;
}

.bottom_gradient{
    position: absolute;
    bottom: 15px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #f0f3bd);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.celok{
    width: 100%;
}

.celok_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.celok_box .box{
    min-width: 250px;
    height: 150px;
    flex-basis: 20%;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.celok_box .box h3{
    color: #fff;
    font-style: oblique;
    font-size: 1.5rem;
}

.celok_box .box:nth-child(1){
    background-image: url(img/gorog-3.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(2){
    background-image: url(img/cyprus-3.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(3){
    background-image: url(img/olasz-3.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(4){
    background-image: url(img/spanyol-3.png);
    background-position: center;
    background-size: cover;
}


@media only screen and (max-width: 900px){
    .toggle{
            display: block;
            cursor: pointer;
        }
    
    .toggle .bar{
        display: flex;
        padding-right: 10px;
        width: 40px;
        height: 5px;
        margin: 5px;
        background: #fff;
        border-radius: 5px;
    }

    .menu_list{
        background-color: rgba(0, 0, 0, 0.3);
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: all 0.3s;
        overflow: hidden;
    }

    .menu_list.active{
        height: 450px;
        transition: all 0.3s;
        backdrop-filter: blur(10px);
    }

    .menu_list.active ul{
        opacity: 1;
    }

    .menu_list ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 40px auto;
        transition: all 0.2s;
        opacity: 0;
    }

    .menu_list .nav_links{
        margin: 15px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .header_box h1{
        font-size: 3.5rem;
    }

    .celok_box .box{
        flex-basis: 40%;
    }
}

@media only screen and (max-width: 600px){
    .celok_box .box{
        flex-basis: 80%;
        height: 250px;
    }
}