*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #f0f3bd;
}


/*------- Menü ------*/

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dadd9e;
}

header.uticelok_header{
    display: flex;
    height: 60px;
    background-color: #f0f3bd;
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    z-index: 99;
    transition: all .3s;
}

.sticky{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: all .2s;
}

.logo:hover{
    transform: scale(1.1);
    transition: all .2s;
}

.logo_span{
    color: #ef233c;
}

.logo img{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.toggle{
    display: none;
}

.menu_list ul{
    display: flex;
    margin: 0;
}

.menu_list .nav_links{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 0 5px;
}

.menu_list .nav_links:hover{
    transition: all 0.1s;
    box-shadow: #fff 1px 1px 5px;
}

.header_box{
    height: 97%;
    width: 100%;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    font-family: 'Poppins', sans-serif;
}

.header_box .header_txt div{
    background-color: rgba(255, 255, 255, .4);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
}

.header_btn{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #ef233c;
    border-radius: 10px;
    transition: all .3s;
}

.header_btn:hover{
    background-color: #d8182f;
    transition: all .3s;
}

.header_btn i{
    padding-left: 10px;
    transition: all .4s;
}

.go{
    margin-left: 20px;
    transition: all .4s;
}

.header_box h1{
    font-size: 4.5rem;
    color: #fff;
    font-style: oblique;
    text-align: center;
    margin: 5px;
}

.bottom_gradient{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #f0f3bd);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f3bd;
}

.celok{
    width: 100%;
    margin-bottom: 5rem;
}

.celok h2{
    color: #ef233c;
    font-size: 3rem;
    font-style: oblique;
    text-align: center;
    margin: 5rem 0;
}

.celok_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.celok_box .box{
    min-width: 250px;
    height: 150px;
    flex-basis: 20%;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.celok_box .box a{
    height: 100%;
    width: 100%;
    color: #fff;
    font-style: oblique;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s;
    text-shadow: 3px 2px #ef233c;
}

.celok_box .box a:hover{
    backdrop-filter: blur(2px);
    transition: all .3s;
    background-color: rgba(255, 255, 255, .2);
}

.celok_box .box:nth-child(1){
    background-image: url(img/gorog-3.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(2){
    background-image: url(img/cyprus-3.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(3){
    background-image: url(img/olasz-2.png);
    background-position: center;
    background-size: cover;
}

.celok_box .box:nth-child(4){
    background-image: url(img/spanyol-1.jpg);
    background-position: center;
    background-size: cover;
}

.celok.uticelok h2:nth-child(2){
    margin: 0;
    font-size: 2rem;
}

.box.selected{
    box-shadow: #ef233c 0px 0px 0px 2px, #ef233c 0px 4px 6px -1px, #ef233c 0px 1px 0px inset;    
    transition: all .2s;
}

.cikkek{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cikkek_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.cikkek_box .box{
    height: 450px;
    width: 450px;
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
}

.cikkek_box .box img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cikkek_box .box h3{
    margin-top: 10px;
    font-size: 1.3rem;
    color: #ef233c;
    padding: 0 10px;
    font-weight: bold;
}

.cikkek_box .box .txt{
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: justify;
}

.elolvas_btn{
    float: right;
    text-decoration: none;
    color: #fff;
    background-color: #ef233c;
    border-radius: 5px;
    padding: 5px 12px;
    transition: all .3s;
}

.elolvas_btn:hover{
    background-color: #d8182f;
    transition: all .3s;
}

.next{
    text-decoration: none;
    font-size: 1.3rem;
    color: #ef233c;
    margin-top: 20px;
    transition: all .3s;
}

.next i{
    padding: 0 5px;
}

.next:hover{
    border-bottom: 1px solid #ef233c;
    transition: all .3s;
}

.insp_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insp_section h2{
    font-size: 2rem;
    font-style: oblique;
    font-weight: bold;
    color: #ef233c;
    text-align: center;
    line-height: 2.5rem;
    margin: 10px;
}

.insp_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.insp_imgs{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
}

.insp_imgs img{
    width: 90%;
    border-radius: 5px;
}

.insp_content .insp_txt{
    max-width: 40%;
    font-size: 1.3rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.insp_txt .idezet{
    margin: 5px;
    font-size: 1.2rem;
    font-style: oblique;
}

.insp_txt a{
    text-decoration: none;
    color: #fff;
    background-color: #ef233c;
    border-radius: 5px;
    padding: 5px 12px;
    transition: all .3s;
    width: fit-content;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insp_txt a:hover{
    background-color: #d8182f;
    transition: all .3s;
}

.insp_txt a i {
    font-size: 1rem;
    padding-left: 10px;
}

.cikkek.aktualis{
    margin-top: 80px;
}

.cikkek.aktualis h2{
    font-size: 2rem;
    font-style: oblique;
    color: #ef233c;
    text-align: center;
    line-height: 2.5rem;
    margin: 10px;
}

footer{
    background-color: #dadd9e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.up{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.footer_logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#ef233c;
    font-size: 2rem;
    font-weight: bold;
    transition: all .2s;
    text-transform: uppercase;
    width: fit-content;
}

.footer_logo span:nth-child(1){
    color: #fff;
    background-color: #ef233c;
    padding: 5px 10px 5px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer_logo span:nth-child(2){
    color:#ef233c;
    background-color:#fff;
    padding: 5px 10px 5px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer_logo img{
    width: 100px;
    height: 50px;
}

.footer_links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.footer_links ul a{
    text-decoration: none;
    font-size: 1.3rem;
    margin: 5px;
    color: #ef233c;
    padding: 5px 10px;
    transition: all .2s;
}

.footer_links ul a:hover{
    border-bottom: 1px solid #ef233c;
    transition: all .2s;
}

footer p{
    font-size: 1.5rem;
    font-style: oblique;
    margin: 40px 20px;
    text-align: center;
    color: #ef233c;
    width: 90%;
}

footer .line{
    width: 80%;
    height: 1px;
    background-color: #ef233c;
}

footer .contact_icons{
    margin-top: 30px;
}

footer .contact_icons i{
    font-size: 2rem;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.contact_icons a:nth-child(1){
    color: rgb(63, 63, 235);
}

.contact_icons a:nth-child(2){
    color: rgb(241, 27, 134);
}

@media only screen and (max-width: 1000px){
    .cikkek_box .box{
        height: fit-content;
    }

    .insp_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .insp_imgs{
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .insp_imgs img{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .insp_content .insp_txt{
        max-width: 80%;
        margin-top: 30px;
    }    
}

@media only screen and (max-width: 900px){
    .toggle{
            display: block;
            cursor: pointer;
        }
    
    .toggle .bar{
        display: flex;
        padding-right: 10px;
        width: 40px;
        height: 5px;
        margin: 5px;
        background: #fff;
        border-radius: 5px;
    }

    .menu_list{
        background-color: rgba(0, 0, 0, 0.3);
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: all 0.3s;
        overflow: hidden;
    }

    .menu_list.active{
        height: 450px;
        transition: all 0.3s;
        backdrop-filter: blur(10px);
    }

    .menu_list.active ul{
        opacity: 1;
    }

    .menu_list ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 40px auto;
        transition: all 0.2s;
        opacity: 0;
    }

    .menu_list .nav_links{
        margin: 15px;
        font-weight: bold;
        font-size: 1.6rem;
        color: #ef233c;
    }

    .header_box h1{
        font-size: 3.5rem;
    }

    .celok_box .box{
        flex-basis: 40%;
    }

    .cikkek_box .box{
        height: fit-content;
    }

    .up{
        flex-direction: column;
    }

    .up ul{
        flex-direction: column;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 750px){
    .cikkek_box .box{
        flex-basis: 80%;
    }
}


@media only screen and (max-width: 600px){
    .celok_box .box{
        flex-basis: 80%;
        height: 200px;
    }

    .celok h2{
        font-size: 2rem;
    }

    .celok_box .box a{
        font-size: 2.5rem;
    }

    .cikkek_box .box{
        flex-basis: 90%;
        width: 90%;
    }

    .cikkek_box .box h3{
        font-size: 1.2rem;
    }

    .insp_imgs img{
        width: 100%;
        border-radius: 0;
    }

    .insp_content{
        margin: 0;
    }

    footer p{
        font-size: 1.2rem;
    }
}